body{
    background-color: #1a1a1a;
    color: #ffffff;
    justify-content: center;
    display: flex;
    padding:20px; /*Espaçamento interno */
}

.arena{
    background: #262626;
    padding: 25px;
    border: 2px solid #444;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
}
h2{
    text-align: center;
    color: #ff0000;
}
.controles{
    display: flex; 
    flex-direction: column; 
    gap: 10px; /* Gap define o espaço entre os elementos filhos (as divs)*/
    margin-bottom: 20px;
}
input, select{
    padding: 10px;
    background: #333;
    border: 1px solid #555;
    color: #00bfff;
    border-radius: 5px;
}
button{
    padding: 12px;
    background: orange;
    border: none;
    color: #1a1a1a;
    font-weight: bold; /*Negrito*/
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}
button:hover{ /*Efeito do ponteiro ao passar*/
    background: #eabc66;
}
#log{
    background: #000;
    padding: 15px;
    border-radius: 5px;
    min-height: 100px; /*Define um altura mínina para um elemento*/
    border-left: 4px;
    
}
.critico{
    color: #ff0000;
    font-weight: bold;
}
.sucesso{
    color: greenyellow;
}
.derrota{
    color: #888;
    font-style: italic;
    font-weight: bold;
}
